[includeIf "gitdir:~/repos/"]
    path = ~/.gitconfig-work

# For mix escript.install
[includeIf "gitdir:/tmp/"]
    path = ~/.gitconfig-work


# Rust
[includeIf "gitdir:~/.cargo/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:/"]
    path = ~/.gitconfig-work

# Tilt, among others
[includeIf "gitdir:~/.local/"]
    path = ~/.gitconfig-work

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal
