*
!.gitignore
!.config
!.config/nix
!.config/nix/nix.conf
!.config/nvim
!.config/nvim/*
!.config/nvim/lua/*
!.config/nvim/lua/*/*
!.config/tmux
!.config/tmux/*
!.config/alacritty
!.config/alacritty/*
!.config/bash-config
!.config/bash-config/*
!nix/
